__pycache__/
*.py[cod]
.snakemake/
.stages/
.mypy_cache/
.ruff_cache/
results/
logs/
.ipynb_checkpoints/
vallescope-project/
src/vallescope.egg-info/
src/vallescope/.mypy_cache/
jbrowse_out/
developer/
config.yaml
figure_scripts/
ValleScope_paper_reproducibility/
tmp/
$/
